<template>
  <div class="container-md pt-lg-5 mt-lg-5">
    <div class="row">
      <div class="col mb-3">
        <GalleryAction />
      </div>
      <div class="col text-end">
        <AddImageButton :add-icon-size="40"/>
      </div>
    </div>
    <GalleryImages></GalleryImages>
    <AddImageModal></AddImageModal>
    <TagSettingsModal></TagSettingsModal>
  </div>
</template>

<script>
import GalleryImages from "../components/GalleryImages.vue";
import GalleryAction from "../components/GalleryAction.vue";
import AddImageModal from "../components/AddImageModal.vue";
import AddImageButton from "../components/AddImageButton.vue";
import TagSettingsModal from "../components/TagSettingsModal.vue";
import GallerySearchBar from "../components/GallerySearchBar.vue";
import imageService from "../service/imageService";
import tagService from "../service/tagService";

export default {
  name: "GalleryView",
  components: {
    GallerySearchBar,
    TagSettingsModal,
    GalleryImages,
    GalleryAction,
    AddImageModal,
    AddImageButton
  },
  mounted() {
    imageService.getAllImages().then(()=> {
      // successfully loaded images
    })
    tagService.getAllTags().then(() => {
      // successfully loaded tags
    })
  },
}
</script>