<template>
  <div ref="addImageModal" class="modal fade" id="addImageModal" tabindex="-1" aria-labelledby="addImageModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addImageModalLabel">Add new image to your gallery</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" @click="clearInput" id="close" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3 mt-3 text-start">
            <label for="formName" class="form-label">Image name*</label>
            <input v-model="nameInput" type="text" class="form-control" id="formName" placeholder="Insert name">
            <div v-if="invalidNameInput" class="invalid-feedback">
              *Please provide a name for your image.
            </div>
          </div>
          <div class="mb-3 text-start">
            <label for="formFile" class="form-label">Upload Image*</label>
            <input ref="fileInput" class="form-control" type="file" id="formFile">
            <div v-if="invalidFileInput" class="invalid-feedback">
              *Please select an image.
            </div>
          </div>
          <div class="mb-3 text-start">
            <label for="formTags" class="form-label">Give your image some tags</label>
            <input type="text" class="form-control" id="formTags" v-model="tagInput" placeholder="Birthday, Party time, Happy">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-light text-dark" @click="closeAddImageModal">Close</button>
          <button type="button" ref="saveBtn" class="btn btn-outline-light text-dark" @click="saveImage">Save Image</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PlusIcon from "vue-material-design-icons/Plus.vue";
import imageService from "../service/imageService";
export default {
  name: "AddImageModal",
  components: {
    PlusIcon,
  },
/*  props: {
    addIconSize: {
      default: 24,
      type: Number
    }
  },*/
  data() {
    return {
      nameInput: "",
      invalidNameInput: false,
      tagInput: "",
      invalidFileInput: false
    }
  },
  methods: {
    async saveImage () {
      if((this.checkNameInput() && this.checkFileInput())) {
        let files = this.$refs.fileInput.files
        let imageData = {
          name: this.nameInput,
          tags: this.getTagsFromTagInput(),
          portrait: await this.getImageFormat(files[0])
        }
        imageService.uploadImage(files[0], imageData).then(() => {
          this.closeAddImageModal()
        })
      }
    },
    getTagsFromTagInput() {
      return this.tagInput.split(", ")
    },
    async getImageFormat(file) {
      let img = new Image();
      img.src = URL.createObjectURL(file);
      await img.decode();
      let width = img.width;
      let height = img.height;
      return height > width
    },
    checkNameInput() {
      if(this.nameInput === "") {
        this.invalidNameInput = true
        return false
      }
      else {
        this.invalidNameInput = false
        return true
      }
    },
    checkFileInput() {
      if(this.$refs.fileInput.files.length === 0) {
        this.invalidFileInput = true
        return false
      }
      else {
        this.invalidFileInput = false
        return true
      }
    },
    clearInput() {
      this.nameInput = ""
      this.$refs.fileInput.value = null
      this.tagInput = ""
      this.invalidNameInput = false
      this.invalidFileInput = false
    },
    closeAddImageModal() {
      document.getElementById('close').click();
      this.clearInput()
    },
  }
}
</script>

<style scoped>
.invalid-feedback {
  display: block;
}
</style>