<template>
  <span role="button" data-bs-toggle="modal" data-bs-target="#addImageModal"><PlusIcon :size="addIconSize"></PlusIcon>    {{title}}</span>
</template>

<script>
import PlusIcon from "vue-material-design-icons/Plus.vue";

export default {
  name: "AddImageButton",
  components: {
    PlusIcon,
  },
  props: {
    title: {
      default: "",
      type: String
    },
    addIconSize: {
      default: 24,
      type: Number
    }
  },
}
</script>

<style scoped>

</style>