<template>
  <div class="modal fade" :id="'deleteImageModal'+image.id" tabindex="-1" :aria-labelledby="'deleteImageModalLabel'+image.id" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteImageModalLabel">Delete Image</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" :id="'closeDeleteImageModal'+image.id" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are your sure you want to delete <span class="text-danger">"{{image.name}}"</span> ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-light text-dark" @click="closeDeleteImageModal">Cancle</button>
          <button type="button" ref="saveBtn" class="btn btn-outline-light text-dark" @click="deleteImage">Delete Image</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import imageService from "../service/imageService";
import store from "../store";

export default {
  name: "DeleteImageModal",
  props: {
    image: {
      type: Object,
      required: true
    }
  },
  methods: {
    closeDeleteImageModal() {
      document.getElementById('closeDeleteImageModal'+this.image.id).click();
    },
    deleteImage() {
      imageService.deleteImage(this.image.id).then(() => {
        this.closeDeleteImageModal()
      })
    }
  }
}
</script>

<style scoped>

</style>