<template>
  <p role="button" class="row mb-0" data-bs-toggle="modal" :data-bs-target="'#deleteImageModal'+imageId"><span class="col-9 text-start">{{title}}</span> <span class="col-3 text-end"><DeleteIcon :size="addIconSize" fillColor="#dc3545"></DeleteIcon></span></p>
</template>

<script>

import DeleteIcon from 'vue-material-design-icons/DeleteOutline.vue'
export default {
  name: "DeleteImageButton",
  components: {
    DeleteIcon
  },
  props: {
    addIconSize: {
      type: Number,
      default: 24
    },
    title: {
      type: String,
      default: ""
    },
    imageId: {
      type: Number,
      required: true
    }
  }
}
</script>

<style scoped>

</style>