<template>
  <p role="button" class="row mb-0" data-bs-toggle="modal" :data-bs-target="'#editImageTagsModal'+imageId"><span class="col-9 text-start">{{title}}</span> <span class="col-3 text-end"><PencilIcon :size="addIconSize"></PencilIcon></span></p>
</template>

<script>

import PencilIcon from 'vue-material-design-icons/PencilOutline.vue'

export default {
  name: "EditImageTagsButton",
  components: {
    PencilIcon
  },
  props: {
    addIconSize: {
      type: Number,
      default: 24
    },
    title: {
      type: String,
      default: ""
    },
    imageId: {
      type: Number,
      required: true
    }
  }
}
</script>

<style scoped>

</style>