<template>
  <div class="modal fade" :id="'editImageTagsModal'+image.id" tabindex="-1" :aria-labelledby="'editImageTagsModalLabel'+image.id" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editImageTagsModalLabel">Edit Image Tags</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" :id="'closeEditImageTagsModal'+image.id" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="row">
            <span class="col-4">Image name:</span>
            <h6 class="col-8">{{image.name}}</h6>
          </p>
          <div class="row">
            <span class="col-4">Contains tags:</span>
            <span class="col-8">
              <span v-for="tag in tagsToSave" :key="tag.id">
               <span class="badge border border-light text-dark shadow me-2 mb-2">{{tag.name}} <DeleteIcon role="button" @click="deleteTagFromImage(tag)" :size="15"></DeleteIcon></span>
              </span>
            </span>
          </div>
          <hr />
          <div class="mb-2">
            Add tags to image:
          </div>
          <span v-for="tag in tagsToChoose" :key="tag.id">
            <button role="button" @click="addTagToImage(tag)" class="btn btn-outline-light text-dark btn-sm shadow me-2 mb-2">{{tag.name}}</button>
          </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-light text-dark" @click="closeDeleteImageModal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DeleteIcon from 'vue-material-design-icons/Close.vue';
import {mapState} from "vuex";
import imageTagService from "../service/imageTagService";

export default {
  name: "EditImageTagsModal",
  components: {
    DeleteIcon
  },
  props: {
    image: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState({
      user: state => state.user
    })
  },
  data() {
    return {
      tagsToSave: [],
      tagsToChoose: []
    }
  },
  mounted() {
    this.tagsToChoose = this.user.tags.filter(tag => {
      let check
      check = this.image.tags.find(t => {
        return tag.id === t.tag.id
      })
      if(check === undefined) return tag

    })
    this.tagsToSave = this.image.tags.map(tag => {
      return tag.tag
    })
  },
  methods: {
    closeDeleteImageModal() {
      document.getElementById('closeEditImageTagsModal' + this.image.id).click();
    },
    addTagToImage(value) {
      imageTagService.addTagToImage(this.image.id, value.id).then(() => {
        // if tag successfully saved to image update tagsToChoose array
        let index = this.tagsToChoose.findIndex(tag => {
          return tag.id === value.id
        })
        this.tagsToChoose.splice(index, 1)
        this.tagsToSave.push(value)
      })
    },
    deleteTagFromImage(value) {
      // get imageTagId from image tags
      let imageTag = this.image.tags.find(tag => {
        return tag.tag.id === value.id
      })
      imageTagService.deleteImageTag(imageTag.id, this.image.id).then(() => {
        // if imageTag successfully deleted, delete tag from tagsToSave
        let index = this.tagsToSave.findIndex(tag => {
          return tag.id === value.id
        })
        this.tagsToSave.splice(index, 1)
        this.tagsToChoose.push(value)
      })
    }
  }
}
</script>

<style scoped>

</style>