<template>
  <GallerySearchBar></GallerySearchBar>
  <div class="row mt-5">
    <div v-for="image in user.images" :key="image.id" class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <div class="card shadow mb-3">
        <img v-if="!image.portrait" :src="API_URL + image.path" class="card-img-top border-bottom" alt="..."/>
        <img v-else :src="API_URL + image.path" class="card-img-top card-image-top-portrait border-bottom" alt="...">
        <div class="card-body bg-light rounded-bottom">
          <p class="card-title row"><span class="text-start col-10">{{image.name}}</span><span class="text-end col-2"><ImageAction :imageId="image.id"></ImageAction></span></p>
          <p class="card-text"><span v-if="image.tags.length > 0" v-for="imageTag in image.tags" :key="imageTag.id" class="badge border border-light shadow text-bg-light me-1">{{imageTag.tag.name}}</span></p>
          <DeleteImageModal :image="image"></DeleteImageModal>
          <EditImageTagsModal :image="image"></EditImageTagsModal>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AddImageButton from "./AddImageButton.vue";
import { mapState } from 'vuex';
import AddImageComponent from "./AddImageModal.vue";
import GallerySearchBar from "./GallerySearchBar.vue";
import ImageAction from "./ImageAction.vue";
import DeleteImageModal from "./DeleteImageModal.vue";
import EditImageTagsModal from "./EditImageTagsModal.vue";

export default {
  name: "GalleryImages",

  components: {
    EditImageTagsModal,
    DeleteImageModal,
    ImageAction,
    GallerySearchBar,
    AddImageButton,
    AddImageComponent,
  },
  computed: {
    ...mapState({
      user: state => state.user
    })
  },
  data() {
    return {
      API_URL: import.meta.env.VITE_API_URL + "/"
    }
  }

}
</script>

<style scoped>
/*@media only screen and (max-width: 576px) {
  .card-img-top {
    width: 100% !important;
    height: 60vw !important;
    object-fit: contain !important;
  }
  img {
    height: 170px !important;
  }
}*/

.card-img-top {
  width: auto;
  height: 22vh;
  object-fit: cover;
}

.card-image-top-portrait {
  object-fit: contain;
}

</style>