<template>
  <button role="button" class="btn btn-lg btn-outline-light text-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">My Gallery</button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#"><AddImageButton title="Upload Image"></AddImageButton></a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#"><TagSettingsButton title="Tag Settings"></TagSettingsButton></a></li>
    <li><hr class="dropdown-divider"></li>
  </ul>
</template>

<script>
import AddImageButton from "./AddImageButton.vue";
import TagSettingsButton from "./TagSettingsButton.vue"
export default {
  name: "GalleryAction",
  components: {
    AddImageButton,
    TagSettingsButton
  }
}
</script>

<style scoped>

</style>