<template>
  <div class="input-group mt-3">
    <input type="text" class="form-control" v-model="search" @keyup.enter="searchImages()" placeholder="Search for image names..">
    <button type="button" class="btn btn-outline-light text-secondary" @click="clearSearch"><DeleteIcon></DeleteIcon></button>
    <button class="btn btn-outline-light text-secondary dropdown-toggle" type="button" @click="showTags = !showTags">Tags</button>
  </div>
  <div v-if="showTags" class="bg-light rounded-bottom">
    <div class="pt-4 ms-4 pe-4 pb-4">
      <span v-for="tag in user.tags" :key="tag.id">
        <button role="button" @click="addFilter(tag.id, tag.name)" class="btn btn-outline-light text-dark btn-sm shadow me-2 mb-2">{{tag.name}}</button>
      </span>
    </div>
  </div>
  <div v-if="filter.length > 0" class="mt-3">
    Filter:
    <span v-for="tag in filter" :key="tag.id">
      <span class="badge border border-light text-dark shadow me-2">{{tag.tagName}} <DeleteIcon role="button" @click="removeFilter(tag.tagId)" :size="15"></DeleteIcon></span>
    </span>
  </div>
  <div v-if="showSearch" class="mt-3">
    Searched for: {{search}}
  </div>
</template>

<script>
import {mapState} from "vuex";
import DeleteIcon from 'vue-material-design-icons/Close.vue';
import imageService from "../service/imageService";

export default {
  name: "GallerySearchBar",
  components: {
    DeleteIcon
  },
  computed: {
    ...mapState({
      user: state => state.user
    })
  },
  data() {
    return {
      showTags: false,
      filter: [],
      search: "",
      showSearch: false
    }
  },
  methods: {
    addFilter(tagId, tagName) {
      this.filter.push({tagId: tagId, tagName: tagName})
      this.search = ""
      this.filterImages()
    },
    removeFilter(tagId) {
      let index = this.filter.findIndex((tag) => {
        return tag.tagId === tagId
      });
      if (index !== -1) {
        this.filter.splice(index, 1);
      }
      this.filterImages()
    },
    getAllImages() {
      imageService.getAllImages().then(() => {
        // successfully loaded all images
      })
    },
    filterImages() {
      if(this.filter.length > 0) {
        this.search = ""
        imageService.getFilteredImages(this.filter).then(() => {
          // successfully filtered images
          this.showSearch = false
        })
      }
      else {
       this.getAllImages()
      }
    },
    clearSearch() {
      if(this.search.length > 0) {
        this.search = ""
        this.showSearch = false
        this.getAllImages()
      }
    },
    searchImages() {
      if(this.search.length > 0) {
        this.filter = []
        imageService.getSearchedImages(this.search).then(() => {
          // successfully loaded searched images
          this.showSearch = true
        })
      }
      else {
        this.getAllImages()
      }
    }
  }
}
</script>

<style scoped>
.btn-outline-light {
  border-color: #ced4da;
}
</style>