<template>
  <SettingIcon role="button" :size="17" data-bs-toggle="dropdown" aria-expanded="false"></SettingIcon>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#"><DeleteImageButton title="Delete Image" :imageId="imageId" :add-icon-size="20"/></a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#"><EditImageTagsButton title="Edit Tags" :imageId="imageId" :add-icon-size="20"></EditImageTagsButton></a></li>
    <li><hr class="dropdown-divider"></li>
  </ul>
</template>

<script>
import SettingIcon from 'vue-material-design-icons/DotsVertical.vue'
import DeleteImageButton from "./DeleteImageButton.vue";
import EditImageTagsButton from "./EditImageTagsButton.vue";


export default {
  name: "ImageAction",
  components: {
    EditImageTagsButton,
    DeleteImageButton,
    SettingIcon
  },
  props: {
    imageId: {
      type: Number,
      required: true
    }
  }
}
</script>

<style scoped>

</style>