<template>
  <div class="modal fade" id="tagSettingsModal" tabindex="-1" aria-labelledby="tagSettingsModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="tagSettingsModalLabel">Tag Settings</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" id="close" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6 class="mb-3">Your Tags:</h6>
          <span v-for="tag in user.tags" :key="tag.id">
            <span class="badge border border-light text-dark shadow me-2 mb-2">{{tag.name}} <DeleteIcon role="button" :size="15"></DeleteIcon></span>
          </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-light text-dark" data-bs-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import DeleteIcon from 'vue-material-design-icons/Close.vue';

export default {
  name: "TagSettingsModal",
  components: {
    DeleteIcon
  },
  computed: {
    ...mapState({
      user: state => state.user
    })
  },
  mounted() {
    console.log(this.user.tags)
  },
  methods: {

  }
}
</script>

<style scoped>

</style>