<template>
  <span role="button" data-bs-toggle="modal" data-bs-target="#tagSettingsModal"><TagIcon :size="addIconSize" color="primary" ></TagIcon>    {{title}}</span>
</template>

<script>
import TagIcon from "vue-material-design-icons/TagOutline.vue";

export default {
  name: "TagSettingsButton",
  components: {
    TagIcon
  },
  props: {
    title: {
      default: "",
      type: String
    },
    addIconSize: {
      default: 24,
      type: Number
    }
  }
}
</script>

<style scoped>

</style>