<script setup>
import { RouterView } from 'vue-router';
import NavigationBar from "./components/NavigationBar.vue";
</script>

<template>
  <nav>
    <NavigationBar />
  </nav>
  <main style="padding-top: 90px">
    <RouterView />
  </main>
</template>

<style scoped>

</style>
